
    <ul class="navbar-nav ml-auto ul-top">
      
   

        <li class="nav-item dropdown"> 
        <a class="nav-link dropdown-toggle crud" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{!-- <img src="https://tse1.mm.bing.net/th?id=OIP.HpOivwmT8chenmcaJibgogHaJT&pid=Api&P=0&w=300&h=300" alt="" class="user-avatar"> --}}
          CRUD 

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/products/create">TAO SAN PHAM MOI</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/products">SAN PHAM</a>
          <a class="dropdown-item" href="/me/stored/news">Feedback san pham</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Dang xuat</a>
        </div>
      </li>
   <script>
       document.getElementById("showcart").style.display="none";
   </script>
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  